@font-face {
  font-family: 'Nasa';
  src: url('./img/Nasa.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 100%;
    padding: 0 40px; 
  }
  
  .logo-container {
    position: relative;
    max-width: 150px;
    min-width: 70px;
    max-height: 70px;
    min-height: 70px;
  }
  
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .logo.visible {
    opacity: 1;
  }
  
  .filter-input {
    flex: 1; 
    width: 0;
    min-width: 100px; 
    margin-right: 10px;
  }
  
  .input-group {
    display: flex; 
    align-items: center; 
    padding-left: 20px;
    padding-right: 10px;
  }
  
  .input-group-append {
    white-space: nowrap;
  }
  
.titulo {
  font-family: 'Nasa';
  font-size: 3vw;
  margin-top: -8px;
  margin-left: 18px;
}