.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.page-item {
  padding-top: 100px;
}

.botonDeModo {
  width: 70px;
  margin-top: -180px;
  right: 30px;
  border-radius: 40%;
  position: fixed;
  z-index: 10000;
}

.card {
  transition: transform 0.8s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card:not(:hover) {
  transform: scale(1);
}